$color-background-header: #CF0A0A;
$color-background-main: #D9D9D9;
$color-background-section:#FFFFFF;
$box-shadows: 6px 6px 4px 0px rgba(0, 0, 0, 0.438);
$color-tipografias-rojas: #CF0A0A;
$color-button: #CF0A0A;
$color-button-hover: #b90b0b;
;
