@media (max-width: 480px) {

    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        gap: .3125rem;
    }

    .submit-buscador {
        display: none;
    }

    header {
        nav {
            .contenedor-nav {
                .navbar-mio {
                    ul {
                        .nav-item {
                            .dropdown-menu {
                                li {
                                    a {
                                        font-size: 9px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    main {
        .section-productos {
            div {
                .carrusel-control-producto {
                    top: 45.8%;
                }
            }
        }
        .contenedor-oferta {
            display: none;
        }

        .contenedor-oferta-mobile {
            display: flex;
            width: 420px;

            div {
                div {
                    .carousel-item {
                        img {
                            max-height: 440px;
                            width: 100%;
                        }
                    }
                }
            }
        }

        .section-pagos {
            display: none;
        }

        .section-productos {
            width: 19.625rem;
            h2{
                font-size: 25px;
            }
            .contenedor-cards {
                .producto {
                    img {
                        width: 8.4375rem;
                    }

                    h3 {
                        font-size: 14px;
                    }

                    button {
                        font-size: 10px;
                        padding: 5px;
                    }
                }
            }
        }
    }

    .carrito {
        .bolsa-compras {
            width: 300px;

            .cont-empeza-bolsa {
                font-size: 15px;

            }
        }
    }

    .main-form {
        .section-form {
            .contenedor-form {
                width: 18.625rem;
            }
        }
    }

    .producto-final {
        .img-producto-final {
            width: 18.4375rem;
        }

        .info-producto {
            width: 18.4375rem;

            .name-producto-final {
                font-size: 22px;
            }

            .cont-encontranos {
                .ancla-encontranos {
                    h3 {
                        font-size: 22px;

                    }
                }
            }
        }
    }

    footer {
        .contenedor-footer {
            .copyright {
                .br-copy {
                    display: flex;
                }
            }
        }
    }

}

@media (max-width: 420px) {
    main {
        .contenedor-oferta-mobile {
            width: 100%;
        }
    }
}