@media (max-width: 991px) {
    header{
        nav{
            .contenedor-nav{
                .navbar-toggler {
                    border: none;
                    border-color: white;
                }
                .navbar-brand {
                    display: none;
                }
                .logo-carrito {
                    padding-top: .625rem;
                    padding-bottom: .625rem;
                }
                .navbar-mio {
                    position: absolute;
                    background-color: #cf0a0af0;
                    right: auto;
                    top: 90%;
                    padding: 1.25rem;
                    border-radius: 9px;
                    ul{
                        .inicio-a{
                            display: none;
                        }
                        .nav-item{
                            .nav-link-home {
                                display: flex;
                            }
                        }
                    }
                }
            
            }
        }
    }
    
}