@media (max-width: 880px) {
    main {
        .section-productos {
            width: 26.5837rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            .contenedor-cards {
                grid-template: repeat(2, 1fr)/ repeat(2, 1fr);
            }
        }

        .section-pagos {
            width: 26.5837rem;

            .pagos {
                h3 {
                    width: 60px;
                    font-size: 13px;
                }
            }
        }
        .section-encontranos{
            width: 97%;
            .img-encontranos{
                width: 100%
            }
        }
        .section-nosotros {
            width: 97%;
        }
    }

    .producto-final {
        display: flex;
        flex-direction: column;
        gap: .4375rem;

        .img-producto-final {
            width: 24.375rem;
        }
    }
    .flecha-productos-prev{
        @include sizes (30px, 30px);
    }
    .flecha-productos-next{
        @include sizes (30px, 30px);
    }
    }
    